## This file is included from all global read-write admin.* policy files
## _in default configuration_. To allow only specific action,
## edit specific policy file.

## Note that policy parsing stops at the first match.

## Please use a single # to start your custom comments

## Add your entries here, make sure to append "target=dom0" to all allow/ask actions

# Allow AdminVM to modify global parameters
{{ adminvm }} @anyvm   allow target=dom0
{{ adminvm }} @adminvm allow target=dom0
